@import "../../../../../sass/variables";
@import "bottombar.variables";

#bottombar {
  background-color: $primary;
  width: 100%;
  position: fixed;
  height: $bottombar-height;
  color: #fff;
  align-items: center;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  bottom: 0;
  padding: 0 15px;
}
