<div id="container">
  <div id="content-wrapper" ngClass="{{menuOpen ? '' : 'no-menu'}}">
    <ng-scrollbar>
      <div class="content">
        <div *ngIf="!loggedIn">Please login to view data.</div>
        <div *ngIf="loggedIn">
          <div class="pos-icon">
            <img src="assets/icons/globe.png">
            <span></span>
            <div>Position</div>
          </div>
          <div class="padding-box">
            <div class="coord-box">
              <app-beacon-coord-box
                [settings]="{text: 'Latitude', color1: '#56ab80', color2: '#4d926f'}"
                [coordinate]="coordinate.Latitude"></app-beacon-coord-box>
              <app-beacon-coord-box
                [settings]="{text: 'Longitude', color1: '#7aa0d0', color2: '#4d5d91'}"
                [coordinate]="coordinate.Longitude"></app-beacon-coord-box>
            </div>
            <div class="table-container">
              <h1>Beacon Framed with Unique Boxes</h1>
              <app-table #uniqueTable [headers]="headers" [data]="uniqueTableData" [initSort]="4"></app-table>
            </div>
            <div class="table-container">
              <h1>All Beacon Frames</h1>
              <app-table #allTable [headers]="headers" [data]="allTableData" [initSort]="4"></app-table>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
  <app-beacon-sidemenu [(open)]="menuOpen"></app-beacon-sidemenu>
</div>
