.table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

.headers td {
  background-color: #d6d0c0;
  border-bottom: 2px solid #b5b5b5;
  border-right: 1px solid #a29a84;
  cursor: pointer;
  user-select: none;
}

.headers td.active::after {
  content: "";
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 5px;
}

.headers td.active.up::after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.headers td.active.down::after {
  transform: translateY(-3px) rotate(45deg);
  -webkit-transform: translateY(-3px) rotate(45deg);
}

.headers td:last-child {
  border-right: none;
}

td.short {
  width: 100px;
  text-align: center;
}

.data td {
  background-color: #fff;
  font-size: 0.9em;
}

td {
  padding: 10px 20px;
}
