<nav>
  <div class="nav-box">
    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">
      <img src="{{menu.logo1}}" height="30" alt="Logo">
    </a>
    <div class="navbar-items" *ngIf="navbarCollapsed">
      <div class="nav-item" [routerLinkActive]="['active']" *ngFor="let item of menu.items">
        <a class="nav-link" [routerLink]="[item.route]" (click)="navbarCollapsed = true">{{item.text}}</a>
      </div>
    </div>
    <div class="navbar-right">
      <a [routerLink]="['/']" class="right-logo">
        <img src="{{menu.logo2}}" height="30" alt="Logo2">
      </a>
      <div class="nav-item user-button">
        <div class="login-button" *ngIf="loggedIn" (click)="logout()">Welcome {{username}}</div>
        <div class="login-button" *ngIf="!loggedIn" (click)="login()">Login</div>
        <div class="user-pic"></div>
      </div>
    </div>
    <div class="navbar-toggler-icon">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>
